* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

div.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

form.sidebar {
    grid-column: 1 / 2;
    display: grid;
    height: 100vh;
    background-color: bisque;
    border: 2px solid black;
}

div.books {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 100%;
    background-color: bisque;
    border: 2px solid black;
}

div.card {
    background-color: brown;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    font-size: larger;
}

  
  input:valid {
    border: 2px solid black;
  }

li {
    list-style: none;
}